[core]
	sshCommand = "ssh -i ~/.ssh/id_ed25519_github_univ -F none"
[user]
	name = {{ (bitwardenFields "item" "Projects/Univ/.gitconfig").user_name.value }}
	email = {{ (bitwardenFields "item" "Projects/Univ/.gitconfig").user_email.value }}
